.globalSection-contact-3234234{
    height: 90vh;
    width: 100%;
    background-image: url(/public/Picture/cosmos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerPrincipal-Contact-3474387{
    height: 90%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left,#0411337e, #003f9173, #0411337e);
    backdrop-filter: blur(2px);
    display: flex;
    border-radius: 20px;
}
.informationContact-234234{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
}
.titileAndParagraph-contact-12321{
    height: 16vh;
    width: 75%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.titileAndParagraph-contact-12321 h1{
    font-size: 4vh;
    color: #fff;
}
.titileAndParagraph-contact-12321 p{
    color: var(--colorDeParrafos);
}
.socialNetwork-contact-3543{
    height: 15vh;
    width: 75%;
    color: #fff;
}
.socialNetwork-contact-3543 ul{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.socialNetwork-contact-3543 li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vh;
}
.followUS-otherSocialNetwork-23432{
    height: 15vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1.5vh;
    font-size: 2vh;
}
.networkFallowME-5456{
    height: 5vh;
    width: 75%;
    display: flex;
    gap: 1.5vh;
}
.networkFallowME-5456 img{
    height: 3vh;
    width: 3vh;
    cursor: pointer;
}

.sectionFormGlobal-3214213{
    height: 90%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer-234{
    height: 90%;
    width: 80%;
    background-image: linear-gradient(to top,#010c298c 10%, #003f91 , #010c298c);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputsOne-32432{
    height: 20vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fila{
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.campo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.bellow{
    color: var(--colorDeParrafos);
    font-size: 1.7vh;
    width: auto;
    height: auto;
    transform: translateX(1vh) translateY(3.4vh);
    transition: all 0.3s ease-in-out;
}
.up{
    color: var(--colorDeParrafos);
    font-size: 1.7vh;
    width: auto;
    height: auto;
    transform: translateX(1.5vh) translateY(1vh);
    transition: all 0.3s ease-in-out;
    background-color: #003375;
    padding: 0 5px;
}
.inputText-999{
    height: 4.8vh;
    width: 28vh;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 2vh;
    background-color: #003375;
    color: #fff;
    border: 1px solid var(--colorDeParrafos);
}
.inputsTwo-123123{
    height: 30vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.8vh;
}
.campoTaxt{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 25vh;
    width: 82%;
}
.textArea-123123{
    height: 20vh;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 14px;
    padding-top: 10px;
    font-size: 2vh;
    background-color: #003375;
    color: #fff;
    border: 1px solid var(--colorDeParrafos);
    resize: none;
}
.bellowW{
    color: var(--colorDeParrafos);
    font-size: 1.7vh;
    width: auto;
    height: auto;
    transform: translateX(2vh) translateY(4vh);
    transition: all 0.3s ease-in-out;
}
.upP{
    color: var(--colorDeParrafos);
    font-size: 1.7vh;
    width: auto;
    height: auto;
    transform: translateX(1.5vh) translateY(1vh);
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(#013b89 ,#003375);
    padding: 0 5px;
}
.submitButton{
    height: 5vh;
    width: 40%;
    border-radius: 20px;
    font-size: 2.2vh;
    background-color: #4973fe;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}
.submitButton:hover{
    background-color: #1e4ed8;
    cursor: pointer;
}
.title-and-subtitle-Form-3223{
    height: 8vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-and-subtitle-Form-3223 h2{
    color: #fff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.title-and-subtitle-Form-3223 p{
    color: var(--colorDeParrafos);
    font-size: 1.8vh;
}
.title-and-subtitle-Form-3223 h2 img{
    height: 3.5vh;
    width: 3.5vh;
}